*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.container{
  border:5px solid red;
  margin:2em;
  padding:1em;
  display:flex;
  width:70%;
 }
.header{
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}
h1{
  font-size:2rem;
}
.btn{
  background-color:green;
  align-items: flex-end;
  height:2rem;
  justify-content: space-between;
  min-height:fit-content;
  width:6em;
  border-radius: 0.5em;
  border:0.5px grey solid;
  color:white;
}