*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color:rgb(255, 255, 255)
}
.App{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    overflow:auto;
    min-height:300px;
    max-width:500px;
    border:2px solid steelblue;
    padding:10px;
    border-radius:5px;
    
}
.container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    
    
}
.header{
    margin-bottom: 20px;
    font-size:medium;
   
}


.btn{
    background:#000;
    color:#fff;
    border:none;
    margin:5px;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
    padding:10px 20px;
    font-size:15px;
    float:right;
}
.task-container{
    
}
.task {
    background: #58766431;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size:medium
  }